{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1 class="uk-text-center uk-padding" >Événement</h1>

    <table class="uk-table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Début</th>
                <td>{{ event.start ? event.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ event.end ? event.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Joiurnée complete</th>
                <td>{{ event.allDay ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Couleur de fond</th>
                <td>{{ event.backgroundColor }}</td>
            </tr>
            <tr>
                <th>Couleur de bords</th>
                <td>{{ event.borderColor }}</td>
            </tr>
            <tr>
                <th>Couleur de texte</th>
                <td>{{ event.textColor }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('event_index') }}">Revenir à la liste des événement</a>

    <a href="{{ path('event_edit', {'id': event.id}) }}">Modifier</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
