{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="uk-flex uk-flex-center uk-margin">
        <div class="uk-margin-right">
            <a class="uk-button uk-button-text" href="{{ path('contact_new') }}">Créer un contact</a>
        </div>
        <div>
            <a class="uk-button uk-button-text" href="{{ path('company_new') }}">Créer une entreprise</a>
        </div>
    </div>
    <h1 >Carnet de contact</h1>

    <h2 class="uk-padding">Cotacts recement ajoutés</h2>

    <table class="uk-table uk-margin">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Numero de téléphone</th>
                <th>Date de création</th>
                <th>Ajouté par</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phoneNumber }}</td>
                <td>{{ contact.createdAt ? contact.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contact.creator.contact.firstname ?: contact.creator.email }} {{ contact.creator.contact.lastname ?: '' }}</td>
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}">Voir</a>
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Le cornet de contact est vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <h1 class="uk-text-center uk-padding">Liste des événement en cours</h1>

    <table class="uk-table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Début</th>
                <th>Fin</th>               
                <th>Joiurnée complete</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.start ? event.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.end ? event.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.allDay ? 'Oui' : 'Non' }}</td>
                <td>{{ event.description }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas de événement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}
{% endblock %}
