{% block menu %}

<nav id='nav-admin' class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="{{ path('admin_users') }}">Utilisateurs</a></li>
            <li><a href="{{ path('admin_contacts') }}">Contacts</a></li>
            <li><a href="{{ path('category_index') }}">Catégories de contact</a></li>
            <li><a href="{{ path('event_index') }}">Evenements</a></li>
            <li><a href="{{ path('admin_types') }}">Types des evenemments</a></li>
        </ul>
    </div>
</nav>
    
{% endblock %}
