{% block menu %}

<nav id='nav-admin' class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="{{ path('main') }}">Utilisateurs</a></li>
            <li><a href="{{ path('main') }}">Catégories de contact</a></li>
            <li><a href="{{ path('main') }}">Equipes</a></li>
            <li><a href="{{ path('main') }}">Evenements</a></li>
            <li><a href="{{ path('main') }}">Types des evenemments</a></li>
        </ul>
    </div>
</nav>
    
{% endblock %}
