{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
	{# Insertion de navigation d'administration #}
	{% embed "admin/index.html.twig" %}{% endembed %}
    <h1>Liste des utilisateurs</h1>

    <table id="usersTable" class='uk-table'>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email de compts</th>
                <th>Email de contact</th>
                <th>Numero de téléphone</th>
                <th>Archivé</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{% if user.contact %}{{ user.contact.lastname }} {{ user.contact.firstname }}{% endif %}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.contact %} {{ user.contact.email }} {% endif %}</td>
                <td>{% if user.contact %} {{ user.contact.phoneNumber }} {% endif %}</td>
                <td>{% if user.contact %} {{ user.contact.enable ? 'Non' : 'Oui' }} {% endif %}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Le cornet de contact est vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="uk-text-center uk-padding">
        <a class="uk-button uk-button-default" href="{{ path('contact_new') }}">Créer un contact</a>
    </div>
{% endblock %}