{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}
    <h1 class="uk-text-center uk-padding">Carnet de contact</h1>

    <table class="uk-table">
        <thead>
            <tr>
                <th>Nom d'emtreprise</th>
                <th>Adresse</th>
                <th>Code postale</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Website</th>
                <th>Enable</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.address }}</td>
                <td>{{ company.postalCode }}</td>
                <td>{{ company.city }}</td>
                <td>{{ company.country }}</td>
                <td>{{ company.website }}</td>
                <td>{{ company.enable ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('company_show', {'id': company.id}) }}">show</a>
                    <a href="{{ path('company_edit', {'id': company.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="uk-margin">
        <a class="uk-button uk-button-default uk-text-center" href="{{ path('company_new') }}">Créer une entreprise</a>
    </div>
{% endblock %}
