{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
    <h1 class="uk-text-center uk-padding">Company</h1>

    <table class="uk-table">
        <tbody>
            <tr>
                <th>Nome d'entreprise</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ company.address }}</td>
            </tr>
            <tr>
                <th>Code poctale</th>
                <td>{{ company.postalCode }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ company.city }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ company.country }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ company.website }}</td>
            </tr>
            {% if is_granted("ROLE_ADMIN") %}
                <tr>
                    <th>Achivé</th>
                    <td>{{ company.enable ? 'Yes' : 'No' }}</td>
                </tr>
            {% endif %}	

        </tbody>
    </table>

    <a href="{{ path('company_index') }}">Rzvenir à la liste des entreprises</a>

    <a href="{{ path('company_edit', {'id': company.id}) }}">Modifier</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
